.App {
  text-align: center;
  background-color: black;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-link {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p:hover{
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* unvisited link */
a:link {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* visited link */
a:visited {
  color: rgb(231, 231, 231);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* mouse over link */
a:hover {
  color: rgb(122, 31, 122);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* selected link */
a:active {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}