
head{
  background-color: black;
}
.App {
  text-align: center;
  background-color: black;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-link {
  background-color: black;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* unvisited link */
a:link {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* visited link */
a:visited {
  background-color: black;
  color: rgb(231, 231, 231);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* mouse over link */
a:hover {
  background-color: black;
  color: rgb(122, 31, 122);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* selected link */
a:active {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  outline: inherit;
  padding-left: 5%;
}
footer{
  background-color: black;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p:hover{
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}