a:link {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(231, 231, 231);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(122, 31, 122);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  text-decoration: none;
}
.Card{
  padding:'100%';
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  
}    
head{
  background-color: black;
}
html{
    background-color: black;
    max-height: 0vh;
}




/* img{
  filter: grayscale(100%);
  -webkit-transition: all 20s;
  transition: all 20s;
  background-color: black;
  opacity: "90%";
  transition-property: all;
}

img:hover{
  filter:grayscale(0%);
  -webkit-transform: all 5s;
  transform: all 5s;
  transition-property: all;
}  */
p:hover{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
/* unvisited link */
